.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

body.techem .columns.techem img {
  position: relative;
  max-width: 102%;
  margin-bottom: -16%;
  margin-left: -2%;
  border-radius: 40px 0 40px 0;
  z-index: 9;
}
