

.panel2-wrapper .panel2 {
margin-top: 300px;
position: relative;
}

.panel2-wrapper .panel2::after {
    background-color: #5AEFEE;
    z-index: -1;
    content: "";
    position: absolute;
    top: -100px;
    left: -100px;
    right: -100px;
    /* width: 100vw; */
    height: 600px;
    transform: rotate(-5deg);
    margin: 0 calc(-50vw + 50%);
}

.panel2.block {
    display: flex;
}
