/* block specific CSS goes here */

main .hero-container > div {
    max-width: unset;
}

main .hero-container {
    padding: 0;
}

main .hero {
    position: relative;
    padding: 32px;
    min-height: 1000px;
}

main .hero h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}

main .hero picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    box-sizing: border-box;
}

main .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-wrapper .hero.centred  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-wrapper .hero.centred  > div:last-child {
    background-color: #5AEFEE;
}

.hero-wrapper .hero.centred > div:last-child h2 {
    line-height: 69px;
    margin: 0;
    padding-inline: 0.5rem;
}


.hero-wrapper .hero.manual  {
    display: flex;
    justify-content: center;
    align-items: normal;
    

}

.hero-wrapper .hero.manual  > div:last-child {

}

.hero-wrapper .hero.manual > div:last-child h2 {
    line-height: 69px;
    margin: 0;
    padding-inline: 0;
}


.hero-wrapper .hero  {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-wrapper .hero  > div:last-child {
  
}

.hero-wrapper .hero > div:last-child h2 {
    line-height: 69px;
    margin: 0;
    padding-inline: 0.5rem;
}
