.panel-wrapper {
    background-color: #5AEFEE;
    padding: 50px 0;
}

.panel-wrapper .panel>div {
    display: flex;
    align-items: start;
    max-width: 1080px;
    margin-inline: auto;
    gap: 50px;
}


.panel-wrapper .panel > div p {
    margin: 0;
}

.panel-wrapper .panel > div p {
    margin: 0 0 20px;
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
}

.panel-wrapper .panel > div p:last-child {
    font-size: 19px;
}

.panel-wrapper .panel > div h2 {
    padding: 4px 14px 8px 14px;
    font-size: 30px;
    line-height: 39px;
    font-weight: 900;
    background: #ffffff;
}

.panel2-wrapper {
}

.panel2-wrapper .panel2 {
margin-top: 300px;
position: relative;
}

.panel2-wrapper .panel2::after {
    background-color: #5AEFEE;
    z-index: -1;
    content: "";
    position: absolute;
    top: -100px;
    left: -100px;
    right: -100px;
    /* width: 100vw; */
    height: 600px;
    transform: rotate(-5deg);
    margin: 0 calc(-50vw + 50%);
}

.panel2.block {
    display: flex;
}

.section .bottomimage-wrapper {
    padding: 100px 0;
    max-width: 100vw;
    width: 100vw;
    margin: 0;
}

.section .bottomimage-wrapper div > *,
.section .bottomimage-wrapper div img {
    width: 100%;
    display: block;
}