.section .list-wrapper {
    padding: 0 1rem;
    max-width: 77pc;
    margin-inline: auto;
}

.list-wrapper h2 {
    text-align: center;
}

.list-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list-wrapper ul li {
    position: relative;
    padding-left: 2.25rem;
    margin-bottom: 1.5rem;
}

.list-wrapper ul li:after {
    content: "";
    width: 0.62rem;
    height: 0.62rem;
    border-radius: 50%;
    background-color: #e20613;
    position: absolute;
    left: 0;
    top: 0.5rem;
}