.tricolumns > div {
  display: flex;
  flex-direction: column;
}

.tricolumns img {
  width: 100%;
}

.tricolumns > div > div {
  order: 1;
}

.tricolumns > div > .tricolumns-img-col {
  order: 0;
}

.tricolumns > div > .tricolumns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .tricolumns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .tricolumns > div > div {
    flex: 1;
    order: unset;
  }
}
